.menu{
    background-color: blue;
    width:100%;
    float: left;
    padding: 5px;
    margin-bottom: 1%;
}

.menu div{
    background-color:white;
    float:left;
    margin-right: 30px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px outset gray;
    font-size:14px;
    font-family:Arial
}

.linkBoton{
    font-size:12px;
    font-family:Arial;
    margin-top: 10px;
}

.linkBoton a{
   background-color: Blue;
   padding: 5px;
   color: white;
   border: 1px dotted white;
}


body{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%
}

.principal{
    width: 90%;
    margin-top: 6%;
    margin-left:5%;
    margin-right: 5%;

    background-color:#E5E5FF;
    padding: 10px;
}

.principal table{
  border: 3px inset Blue;
  align:center;
  background-color: white;
}


.principal th,td{
    text-align:left;
    font-size:12px;
    font-family:Arial;
    border:1px dotted;
}

.titulo h1{
    font-size:20px;
    font-family:Arial;
}

.subtitulo{
    font-size:12px;
    font-family:Arial;
    font-weight:bold;
}


.footer{
    text-align : center;
    font-size:9px;
    font-family:Arial;
    color: gray;
}

.separadorFinal{
    margin-top: 2%;
}

.header p{
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
}

.header a{
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    color: black;
    text-decoration:none;

}